* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
    position: absolute;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

.seta-esquerda {
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
    margin-right: 700px;
    cursor: pointer;
    
}

.seta-direita {
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 700px;
    cursor: pointer;
}